
<%- include("header") -%> 

    <div class="box" id="heading">
        <h1>Today is <%= listTitle %></h1>
    </div>

    <div class="box">
        
        <% for(var i=0 ; i < newListItems.length ; i++){ %>

            <div class="item">
                <input type="checkbox">
                <p> <%= newListItems[i] %> </p>
            </div>

           <% } %>

        

    <form clas="item" method="post" action="/">
        <input type="text" name="newItem" placeholder="Add tasks" autocomplete="off">
        <button type="submit" name="list" value= <%= listTitle %> >+</button>
    </form>
    
    </div>

    <!-- <% if(listTitle==="Week Day!"){ %>
        <h1 style="color: purple"><%= listTitle %> TodoList</h1>
    <% }else{ %>
        <h1 style="color: red"><%= listTitle %> TodoList</h1>
    <% } %> -->

        
    <%- include("footer") -%> 